  *{
         margin:0;
         padding:0;
         font-family:sans:serif;
        
        }
        :root{
          --first-color:#00539C;
          --secondary-color:black;
          --thirdary-color:blue;
        } 
        .dark-theme{
          --first-color:#D1BCB2;
          --secondary-color:white;
          --thirdary-color:green;
        }       
        .team-section
        {
        overflow:hidden;
        text-align:center;
        padding:60px;
        margin-top: 30px;    
        }
        .team-section h4
        {
        margin-bottom:60px;
        margin-left: 30px;
        font-size: 22px;
        color:var(--secondary-color);  
        }   
        .team-section h2
        {
          color:var(--first-color);  
        }     
    
        .border
        {
            display: block;
            margin: auto;
            width: 160px;
            height: 3px;
            margin-bottom: 40px;
                
        }
        .ps a
        {
            display: inline-block;
            margin: 0 40px;
            overflow: hidden;
        }
        .ps a img
        {
            width: 300px;
            height: 400px;
            border-radius: 10px;
            filter: grayscale(100%);
        }
        .ps a:hover >img
        {
           filter:none;
        }
        .ps {
          margin-bottom: -200px;
        }
        
        .section{
            width: 600px;
            margin: auto;
            font-size: 20px;
            color: white;
            text-align: justify;
            height: 0px;
            overflow: hidden;
            margin-top: 200px;
        }
        .section:target{
            height: auto;   
        }
        .name{
            display: block;
            margin-top: 30px;
            font-size: 26px; 
            color:red;
            text-align: center;
        }