
:root{
	--primary-color: white;
	--secondary-color: black;
	--third-color:white;
	--fourth-color:white;
	--fifth-color:white;
	/*#DC143C*/
	--sixth-color:#EF4164;
	--seventh-color:#DC143C;
	--eigth-color:#DBD0D0;
	--ninth-color:#C73636;
	--tenth-color:white;

}
/*After Changing*/
.dark-theme{
	--primary-color: black;
	--secondary-color: white;
	--third-color:#BB86FC;
	/*--third-color:#34D86A;*/
	/*--third-color:#2DB359;*/
	--fourth-color:#A4A1A1;
	--fifth-color:#D1D1D1;
	--sixth-color:black;
	--seventh-color:#858484;
	--tenth-color:#C73636;
}
/*Slide Bar CSS*/
 
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
 display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 50px;
  right: 50px;
  top: -60px;
  bottom: 30px;
}

.text {
  color: #f2f2f2;
  background: #00539C;
  width: 130px;
  height: 50px;
  border-radius: 50px;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  margin-left: 50%;
  display: flex;
}
#Engagment{
	text-align: center;
}
#Weeding{
	margin-left: 6px;
}
#Casual{
	margin-left: 14px;
}
#Others{
	margin-left: 18px;
}
.text:hover{
	background: lightblue;
	color: black
}

/*@media(max-width: 700)
{
	.text{
		background: green;
		color: black;
		margin-bottom: 100%;
	}
}*/
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 520px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/**/
#photo{
	cursor: pointer;
	width:30px;
}
html{
	scroll-behavior: smooth;
}
body
{
	font-family: Arial;
}
ul,nav
{
	list-style: none;
}
a{
	text-decoration: none;
	cursor: pointer;
	color:inherit;
}
header{
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*color: var(--primary-color);*/
	padding: 35px 100px 0;
}
header h2{
	text-transform: uppercase;
	color: var(--tenth-color);
}
header nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}
header nav i{
	color:var(--tenth-color);
}
header nav li{
	margin: 0 15px;
}
header nav li a{
	padding: 6px;
	color: var(--tenth-color);
}
header nav li a:hover{
	/*#DB9741,#4CCFF0*/
	background: linear-gradient(45deg,#DB9741,#4CCFF0);
	border-radius: 10px;
	box-sizing: border-box;
	color: black;
	padding: 10px 10px;
	font-size: 18px;
}
header nav li a i{
	color: var(--tenth-color);
}
header nav li a i:hover{
	color: linear-gradient(45deg,#DB9741,#4CCFF0);
}
header nav li:first-child{
	margin-left: 0px;
}
header nav li:last-child{
	margin-right: 0px;
}
@media(max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}
@media(max-width: 700px){
	header{
		flex-direction: column;
	}
	header h2{
		margin-bottom: 15px;
	}
	header nav li{
		margin:  0 7px;
	}
}
section{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}
@media(max-width: 1000px)
{
	section{
		padding: 100px 50px;
	}
}
@media(max-width: 700px)
{
	section{
		padding: 125px 35px;
	}
}
section p{
	max-width: 800px
	text-align:center;
	margin-bottom: 0 20px;
	line-height: 2;
}

.banner-area{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: var(--third-color);
	text-align: center;
}
.banner-area .banner-img{
	background-image: url("Slide1.jpg");
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size:cover;
	background-size: cover;
	z-index: -1;
}
.banner-area .banner-img:after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
opacity: .8;
}
.banner-area h1{
	margin-bottom: 15px;
	font-size: 65px;
	color: var(--fourth-color);
	font-family: merienda;
}
.banner-area h3{
margin-bottom: 40px;
	font-size: 30px;
	color: var(--fourth-color);
	}
	.banner-area a.banner-btn{
		padding: 15px 35px;
		background: linear-gradient(45deg,#DB9741,#4CCFF0);
		color: black;
		border-radius: 50px;
		text-transform: uppercase;
	}
	a.banner-btn:hover{
		padding: 15px 35px;
		/*E1AE27*/
		/*background: linear-gradient(90deg,#E1AE27,#24C9D5);*/
		background: linear-gradient(90deg,#C58A3E,#48B7D3);
		color: var(--fifth-color);
		border-radius: 50px;
		text-transform: uppercase;
	}
	@media(max-width:700px ){
		.banner-area{
			min-height: 600px;
		}
		.banner-area h1{
			font-size: 32px;
		}
		.banner-area h3{
			font-size: 20px;
		}
		.banner-area a.banner-btn{
			padding: 15px 40px;
		}

	}
	.about-area{
		background: var(--primary-color);
	}
	
	ul.about-content{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	}
	.about-content li{
		padding: 20px;
		height: 290px;
		color: var(--secondary-color);
		background-clip: content-box;
		-webkit-background-size:cover;
		background-size:cover;
		background-position: center;
	}
	.about-left{
		flex-basis: 40%;
		background-image:url("C:/Users/Seif/Desktop/Desktop data/left.jpg");
	}	
	.about-right{
		flex-basis: 60%;
	}
	.about-area p{
		max-width: 800px;
		color: var(--secondary-color);
		margin-bottom: 35px;
		line-height: 1.5;
		text-align: left;
		padding-left: 0;
	}
	.section-title{
		 text-transform: uppercase;
		 font-size: 50px;
		 margin-bottom: 5%;
		 color: var(--secondary-color);
	}
	.about-right h2{
		margin-bottom: 3%;
	}
	.about-btn{
		padding: 15px 35px;
		background: var(--secondary-color);
		border-radius: 50px;
		color: var(--primary-color);
		text-transform:uppercase;
	}
	.about-btn:hover{
		background:linear-gradient(90deg,#C58A3E,#48B7D3);
	}
	@media (max-width: 1000px){
		.about-left,
		.about-right{
			flex-basis: 40%;
		}
		.about-content li{
			padding: 8px;
		}
	}
	#services{
		background: var(--primary-color);
	}
	/*Differ between the three services of laptop/Signal/photo*/
	ul.services-content{
	width: 100%;
	margin-top: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	}
	/*Make the text centeralized under each icon*/
	.services-content li{
		padding: 0 30px;
		flex-basis: 33%;
		text-align: center;
	}
	/*Make the icons increase its size and be margined*/
	.services-content li i{
		font-size: 40px;
		color: var(--ninth-color);
		margin-bottom: 25px;
	}
	/*Make the Heading 4 increase its size and be margined*/
	.services-content li h4{
		font-size:20px;
		margin-bottom: 25px;
		color: var(--secondary-color);
	}
	.services-content li p{
		margin: 0;
		color: var(--secondary-color);

	}
	@media(max-width: 1000px)
	{
		.services-content li i{
		flex-basis: 100%;
		margin-bottom: 65px;
	    }
	    .services-content li:last-child{
		margin-bottom: 0;
		}
		.services-content li p{
			padding: 0;
		}
	}