*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*
/*basic color*/
:root{
	--primary-color: white;
	--secondary-color: black;
	--third-color:white;
	--fourth-color:white;
	--fifth-color:white;
	/*#DC143C*/
	--sixth-color:#EF4164;
	--seventh-color:#DC143C;
	--eigth-color:#DBD0D0;
	--ninth-color:#C73636;
	--tenth-color:white;

}

#icon{
	cursor: pointer;
	width:25px;
	height: 25px;
	margin-top: -3px;
	margin-left: 2px;
}
#icon2{
	margin: -20px;
	width: 270px;
	height: 80px;
}
html{
	scroll-behavior: smooth;
}
body
{
	font-family: poppins;
	background-color: var(--primary-color);
}
ul,nav
{
	list-style: none;
}
a{
	text-decoration: none;
	cursor: pointer;
	color:inherit;
}
header{
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
}
header img{
	margin: -20px;
	width: 180px;
	height: 50px;
}
header h2{
	text-transform: uppercase;
	color: var(--tenth-color);
}
header nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
header nav i{
	color:var(--secondary-color);
}
header nav li{
	margin: 0 15px;
}
header nav li a{
	padding: 6px;
	font-size: 22px;
	color: var(--secondary-color);
}
header nav li a:hover{
	font-size: 26px;
	background: linear-gradient(45deg,#60A4E0,#00539C);
	border-radius: 10px;
	box-sizing: border-box;
	color: white;
	padding: 8px 8px;
}
header nav li a i{
	color: var(--secondary-color);
}
header nav li:first-child{
	margin-left: 0px;
}
header nav li:last-child{
	margin-right: 0px;
}
@media(max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}
@media(max-width: 700px){
	header{
		flex-direction: column;
	}
	header h2{
		margin-bottom: 15px;
	}
	header nav li{
		margin:  0 14px;
		margin-top: 30px;
	}
	#icon{
		margin-top: 30px;
		width:20 ;
		height:20;
	}
	#icon2{
		width:135 ;
		height:40;
	}
	header nav li a{
		font-size: 16px;
	}
}
@media (max-width: 700px)
{	
	#icon2
	{
		height:50px;
	}
	header nav
	{
		margin-top: 10px;
	}
	header nav li a
	{
	    font-size: 22px;
	    
	    padding-left: 2px;
	}
	header nav li a:hover
	{
		font-size: 20px;
	}
}
section{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}
@media(max-width: 1000px)
{
	section{
		padding: 100px 50px;
	}
}
@media(max-width: 700px)
{
	section{
		padding: 125px 35px;
	}
}
section p{
	max-width: 800px
	text-align:center;
	margin-bottom: 0 20px;
	line-height: 2;
}


.end{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-direction: column;
	align-items:center;
	color: var(--primary-color);
	background: #000;
	padding: 20px;
	}
#facebook ,#instgram, #tiktok{
	padding-left: 5px;
}
.social-links a
{	
	width:60px;
	font-size: 22px;
	text-decoration: none;
	justify-content: center;
  	align-items: center;
  	position: relative;	
	color: var(--secondary-color);
}
.social-links a:hover{
	background: linear-gradient(45deg,#60A4E0,#00539C);
	border-radius: 100px;
	color:var(--fourth-color);
}
.social-links {
	margin-bottom: 50px;
	margin: 0 18px;
  	box-sizing: 30px;
	margin:0 10px;
  	position: fixed;
  	bottom: 400px;
  	left: -140px;
  	transform: rotate(-90deg);
  	padding: 10px;
 	text-align: center;	
}
@media(max-width: 700)
{
	.social-links 
	{
		font-size: 12px;
		font-weight: 12px;
	}
}
footer p{
	color: var(--primary-color);
	text-align: center;
	margin-bottom: 20px;
}
footer{
	margin-top: 1000px;
	height: 40px;
	background: var(--secondary-color);
}
