*{
  padding: 0px;
  margin: 0px;
}
:root{
  --primary-color:white;
  --secondary-color:black;
  --third-color:#00539C;
  --fourth-color:white;
}
.dark-theme{
  --primary-color:black;
   --secondary-color:white;
}

.move p{
    position: absolute;
    top:150px;
    right: 950px;
    margin-left: 100px;
    font-size:24px;
    color: var(--secondary-color);
}

/*.type{
    position: fixed; 
    top:150px;
    left:  950px;
    margin-top: 200px;
    font-size: 20px;
}*/
.type1 select{
          position: absolute;
          font-size:20px;
          margin-left: 300px;
          margin-top: 10px;
          color:rgb(133, 146, 158);
          background-color:transparent; 
          border-radius:25px;
        }

.type1 select:hover{
          color:darkred;
        }
.type select{
          margin-left: 850px;
          font-size:20px;
          margin-top: -60px;
          color:rgb(133, 146, 158);
          background-color:transparent; 
          border-radius:25px;
        }

.type select:hover{
          color:darkred;
        }
        form input{
          border-radius: 25px;
          width: 200px;
          font-size: 24px;
          margin-left: 350px;
          background:  var(--fourth-color);
          color:var(--third-color); 
        }
        form input:hover{
          background: var(--third-color) ;
          color:var(--fourth-color); 
        }

body{
  background: var(--primary-color);
}
.pack{
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 100px;
  width: auto;
  height:auto;
  padding-bottom: 5px;
  padding-top:20px; 
}
/*Setting the image sizes*/
.pack img{
  width: 400px;
  height:600px;
}
/*Help in alligning them beside  each other 
not on in every line*/
.col{
  display: inline-block;
  border-radius: 10px;
  padding-top: 150px;
  padding: 10px;
  width: auto;
  height:auto;
}
.title{ 
 font-family: Oswald, sans-serif;
  width: auto;
  height: auto;
  position: absolute;
  display: inline-block;
  margin-left: 24px;
  margin-top: 540px;
}
.title h2{
  background: var(--primary-color);
  border-color: red;
  border:solid 5 5 5px;
  width: 350px;
  text-align: center;
  text-shadow: -3px 3px 4px #9398F0 ;
  line-height: 2.2;
  color:var(--secondary-color);
  height: 150px;
  border-radius: 100%;
  font-size: 60px;

  }

/*For the cities box*/
.content{                   //details
  border-radius: 10px;
  text-align: center;
  margin-top: 55px;
  width: 400px;
  height:320PX;
  background: #00539C;
  padding-top: 50px;
  color: #fff
}

.content ul li{

  list-style: none;
  color: #fff
  width: auto;
  font-size: 35px;
  position:relative;
}
.btn :link,.btn :visited {
  font-family: Oswald, sans-serif; 
  background-color: white;
  color: #00539C ;
  border: 2px solid #00539C;
  padding: 20px 50px;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
.btn: hover , .btn :active
 {
  background-color: #00539C;
  color: white;
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 50px #FFFFFF, 0 0 60px #FFFFFF, 0 0 70px #FFFFFF;
  }
  
  to {
    text-shadow: 0 0 20px #9398F0 , 0 0 30px #9398F0 , 0 0 40px #9398F0 , 0 0 50px #9398F0, 0 0 60px #9398F0, 0 0 70px #9398F0 , 0 0 80px #9398F0 ;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #fff;
}

.dropdown-content{
  width: auto;
  display: none;
  position: absolute;
  color: black;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 20px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.triangle-up {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 205px solid transparent;
  border-right: 205px solid transparent;
  border-bottom: 80px solid var(--primary-color);
  margin-top:30px;

}